body{
	background-color: #ffffff;
}

.featurette-small-top {
    margin-top: -2rem !important;
}

.featurette h3 {
    margin-top: 1rem;
	font-size: 2.2rem;
}
#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#serviciosdiv {
	height: 380px;
}

#ourservices {
	height: 360px;
}

@media (min-width: 1200px) {
	
	#serviciosdiv {
		height: 280px;
	}

	#ourservices {
		height: 300px;
	}
	
}

#opinionesdiv {
	height: 400px;
}

#lasopiniones {
	height: 400px;
}

@media (min-width: 1200px) {
	
	#opinionesdiv {
		height: 230px;
	}

	#lasopiniones {
		height: 250px;
	}
	
}

.package:hover{
	font-size:110%;
}

.btn-doblea:hover{
	background-color: #09db3f;
}

.btnazulo{
	color: #fff;
    background-color: #071fba;
    border-color: #071fba;
}

.btnazulmo{
	color: #fff;
    background-color: #164BBE;
    border-color: #164BBE;
}

.btnazulmc{
	color: #fff;
    background-color: #0099FF;
    border-color: #0099FF;
}

.btnazulc{
	color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.thankspage{
	background: url('../img/thanksbackground.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
